@import url('null.css');
@import url('../fonts/SYN_Nova_squirrel/stylesheet.css');
@import url('../fonts/Skyline-Beach-NBP-Regular/stylesheet.css');
* {
  background-color:#252a34;
  color:#eaeaea;
  font-family:"syn_novaregular", "Skyline-Beach-NBP-Regular"/*"Astradyne-Bold"*/, sans-serif;
  text-shadow:5px 3px 0 #000000;
  font-size:32px;
  line-height:2em;
  letter-spacing:0.04em;
  text-decoration:none;
  outline:none;
/*scrollbar (Firefox)*/
  scrollbar-width:thin;
  scrollbar-color:#128587 hsl(220,17%,14%);
  caret-color:#08d9d6;
/*scrollbar (Firefox)'s end*/
}
/* scrollbar для Chrome/Edge/Safari*/
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  background:hsl(220,17%,14%);
}
*::-webkit-scrollbar-thumb {
  background-color:#128587;
/*  border: 3px solid orange;*/
}
/*scrollbar для Chrome/Edge/Safari's end*/
.cyberborder {
  margin:5px 5px;
  padding:0 0 0 7px;
  width:600px;
  background-color:hsl(220,17%,14%);
  color:#08d9d6;
  border:1px solid #08d9d6;
  box-shadow:5px 3px 0 #000000;
}

/*Input*/
input, textarea {
  font-size:30px;
}

input:focus {
  border:1px solid #08d9d6;
  box-shadow:5px 3px 0 #08d9d6;
}
/*Input's end*/

/*Textarea*/
textarea {
  margin:10px 5px 5px 5px;
  font-size:20px;
  width:495px;
  height:130px;
}

textarea:focus {
  border:1px solid #08d9d6;
  box-shadow:5px 3px 0 #08d9d6;
}
/*Textarea*/

/*link*/
a:link {
  color:#08d9d6;
}

a:visited {
  color:#06B1AF;
}

a:hover {
  color:#ff2e63;
}

a:focus {
  color:#ff2e63;
}

a:active {
  color:#777788;
}
/*link's end*/

.textstyle {
  text-align:center;
}

.fish-text {
  margin:42px 42px 20px;
  padding:0 10px;
  box-shadow:5px 3px 0 #000000;
  border:1px solid #08d9d6;
  background-color:hsl(220,17%,14%);
  text-align:center;
  width:800px;
  height:250px;
  /*scrollbar in this paragraph*/
  overflow:scroll;
  overflow-x:hidden;
  /*scrollbar in this paragraph's end*/
}

.fish-text-p {
  background-color:hsl(220,17%,14%);
}
