@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
  background-color:#242424;
  font-family:"Amatic SC";
  font-weight:bold;
  font-size:35px;
  letter-spacing:3px;
  color:#bcbcbc;
}

body {
  text-align:center;
}

.introline {
  font-family:"Fira Code", sans-serif;
}

.nameofauthorandbook {
text-transform:capitalize;
}

.tuppercase {
  text-transform:uppercase;
}

.tdecoration {
  text-decoration:line-through;
}